*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #d0202f;
    text-decoration: none; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

@font-face {
  font-family: 'Aileron';
  src: url("../fonts/AILERON-LIGHT.OTF");
  font-weight: 300; }

@font-face {
  font-family: 'Aileron';
  src: url("../fonts/AILERON-HEAVY.OTF");
  font-weight: 900; }

header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }

.scrollHelper {
  width: 100vw;
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .scrollHelper div {
    width: 26px; }
  .scrollHelper img {
    -webkit-animation: pulse 2.5s infinite;
    animation: pulse 2.5s infinite;
    opacity: 0;
    transition: opacity 2000ms ease-in;
    position: absolute; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.intro {
  display: none !important;
  width: 100vw;
  height: 100%;
  z-index: 1;
  transition: background-color 50ms linear;
  background-color: #F9F7E8; }
  .intro .slide {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .intro .slide img {
      opacity: 0;
      transition: opacity 1500ms ease-in;
      width: 164px; }
    .intro .slide p {
      padding: 50px 30px;
      opacity: 0;
      text-align: center;
      transition: opacity 1000ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
      font-family: 'Aileron';
      font-weight: 300;
      font-size: 1.7em; }
      .intro .slide p.visible {
        opacity: 1; }
      @media (min-width: 450px) {
        .intro .slide p br {
          display: none; } }
    .intro .slide:nth-child(13) p {
      background: #000;
      color: #fff;
      font-family: 'Aileron';
      font-weight: 900;
      padding: 50px 20px; }

.part-one {
  width: 100vw;
  height: 100%;
  z-index: 1;
  transition: background-color 50ms linear;
  background-color: #F0C7BA; }
  .part-one .slide {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 450px) {
      .part-one .slide br {
        display: none; } }
    .part-one .slide.not-found {
      background: #D7D8DC;
      color: #D7D8DC; }
    .part-one .slide:nth-child(1) {
      padding-top: 50px; }
      .part-one .slide:nth-child(1) form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - $header-height);
        width: 100vw;
        max-width: 100vw; }
    .part-one .slide:nth-child(2) {
      background: #A0AAD1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh; }
      .part-one .slide:nth-child(2) p {
        text-align: center;
        color: #fff;
        font-weight: 600; }
      .part-one .slide:nth-child(2) h2 {
        background: #fff;
        color: #000;
        font-weight: 900; }
      .part-one .slide:nth-child(2) h3 {
        background: #F0C7BA;
        color: #000;
        font-weight: 900; }
      .part-one .slide:nth-child(2) .graph {
        background: #fff;
        width: 300px;
        height: 300px;
        border-radius: 50%; }
    .part-one .slide:nth-child(3) {
      background: #BCB6C8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh; }
      .part-one .slide:nth-child(3) h2 {
        color: #000;
        font-weight: 900; }
      .part-one .slide:nth-child(3) img {
        margin: 30px 0; }
      .part-one .slide:nth-child(3) p {
        text-align: center;
        color: #000; }
      .part-one .slide:nth-child(3) hr {
        background: #000;
        height: 2px;
        width: 80vw;
        border: none; }
    .part-one .slide:nth-child(4) {
      background: #F0C7BA;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh; }
      .part-one .slide:nth-child(4) h3 {
        text-align: left;
        font-weight: 900; }
      .part-one .slide:nth-child(4) h4 {
        background: #fff;
        color: #000;
        font-weight: 300;
        margin: 30px 0 10px 0; }
        .part-one .slide:nth-child(4) h4 strong {
          font-weight: 900; }
      .part-one .slide:nth-child(4) h2 {
        line-height: 1em;
        font-weight: 900; }
        .part-one .slide:nth-child(4) h2 small {
          font-weight: 300; }
          .part-one .slide:nth-child(4) h2 small strong {
            font-weight: 600; }
      .part-one .slide:nth-child(4) .graph {
        background: #fff;
        width: 300px;
        height: 300px;
        border-radius: 50%; }
  .part-one .sectionHelper {
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .part-one .sectionHelper img {
      -webkit-animation: pulse 2.5s infinite;
      animation: pulse 2.5s infinite;
      opacity: 0;
      transition: opacity 2000ms ease-in;
      position: absolute; }
