@font-face {
  font-family: 'Aileron';
  src: url('../fonts/AILERON-LIGHT.OTF');
  font-weight: 300;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/AILERON-HEAVY.OTF');
  font-weight: 900;
}
